#friends-display-link {
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
  display: block;
  text-align: center;
  padding: 10px;
  color: grey;
  background-color: rgba(201, 199, 199, 0.1);
  margin-bottom: 10px;
  margin-top: -5px;
}
#friends-display-link i {
  margin: 0px 7px 0px 7px;

  opacity: 0.18;
}

.friends-screen {
  padding: 0px 20px;
}
.friends-screen__channel {
  border-top: var(--main-border);
  padding-top: 7px;
}

.friends-screen__channel-header {
  margin-bottom: 15px;
  opacity: 0.4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes hidesplashscreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--green);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  animation: hidesplashscreen 1.5s ease-in-out forwards;
  animation-delay: 0.3s;
}
