.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px 15px 20px;
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 500;
}

.screen-header__icons i {
  margin-left: 10px;
  padding: 15px 5px;
  opacity: 0.9;
}

.screen-header__icons {
  position: relative;
}

.screen-header__alarm {
  display: flex;
  position: absolute;
  right: -3px;
  top: -8px;
  background-color: red;
  border-radius: 50%;
  width: 4px;
  height: 4px;
}

@keyframes rotateHeaderIcon {
  from {
    transform: none;
  }
  to {
    transform: rotate(360deg);
  }
}

.screen-header__icons i:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.screen-header__icons .fa-gear:hover {
  animation: rotateHeaderIcon 1s linear infinite;
}
