.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px 15px 20px;
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 500;
}

.screen-header__icons i {
  margin-left: 20px;
  opacity: 0.9;
}

.screen-header__icons {
  position: relative;
}

.screen-header__alarm {
  display: flex;
  position: absolute;
  right: -3px;
  top: -8px;
  background-color: red;
  width: 4px;
  height: 4px;
}
