.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px 15px 20px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 500;
}

.screen-header__icons i {
  margin-left: 20px;
  opacity: 0.9;
}
